.container {
    display: flex;
    border: 1px solid #8f8f8f;
    padding: 20px 30px;
    border-radius: 5px;
    height: 400px;
    gap: 40px;
    background-color: rgba(0,0,0,.02);
    color: #333b40;
}
.containerLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 20px;
}

.containerLeft img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid #8f8f8f;
}

.containerRight {
    flex: 4.5;
    overflow: scroll;
    color: #8f8f8f;
    font-size: 20px;
}

