.referencesMain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}

.reference {
    color: #333b40;
}

.referenceOrder {
    color: #1597E5;
}

.referenceLink {
    color: #4ec1fc;
}

.referenceLink:hover {
    text-decoration: underline;
}