.nav {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    border-bottom: 1px solid #f1f4f6;
    background-color: #fff;
    z-index: 1000;
}

.navBar {
    top: 0;
    display: flex;
    justify-content: space-between;
}

.teamName {
    font-size: 35px;
    color: #4ec1fc;
    margin: 5px 0;
    display: flex;
    align-items: center;
    padding: 2.5px;
}

.logoImage {
    width: 35px;
    height: 35px;
}

.teamName:hover {
    color: #1597E5;
}

.navItems {
    display: flex;
    gap: 25px;
    color: #333b40;
}

.navItem {
    font-size: 17.5px;
}

.navItem:hover {
    color: #1597E5;
}

