h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color: #333b40;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

p,li {
  line-height: 1.75;
}

p,a,ul {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttonIcon {
  margin-right: 7.5px;
}

.sectionTitle {
  margin-top: 30px;
  margin-bottom: 40px;
}

.subsectionTitle {
  
}