h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color: #333b40;
  margin: 0;
}

p,a {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  /* margin: 0; */
}

.buttonIcon {
  margin-right: 7.5px;
}