.teamProfileMain {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.memberImages {
  display: flex;
  justify-content: space-around;
}

.memberImage {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #8f8f8f;
}

.memberNameContainer {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
}
