.banner {
    text-align: center;
    padding: 140px 0;
}

.title {
    font-weight: 800;
}

.logo {
    width: 100px;
    height: 100px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}